/* Configurações Gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Menu */
#menu {
    background: #2c3e50;
    color: #fff;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    z-index: 1000;
    position: fixed;
}

#menu ul {
    list-style: none;
    padding: 0;
}

#menu ul li {
    display: inline;
    margin: 0 20px;
}

#menu ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.section {
    padding: 100px 50px;
    min-height: 60vh;
    border-bottom: 1px solid #ddd;
}

/* Formulário */
#formContato {
    max-width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.field {
    margin-bottom: 15px;
}

.field label {
    display: block;
    margin-bottom: 5px;
}

.field input, .field textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

/* Variáveis globais para o tema Claro/Escuro */
:root {
    --bg-color: #f4f4f4;
    --text-color: #333;
    --nav-bg: #2c3e50;
    --form-bg: #fff;
}

/* Classe para o tema escuro */
.dark-mode {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --nav-bg: #000;
    --form-bg: #1e1e1e;
}

body { 
    background-color: var(--bg-color); 
    color: var(--text-color); 
    transition: background-color 0.3s, color 0.3s;
}

#menu { background: var(--nav-bg); }
#formContato { background: var(--form-bg); }

/* Botão do Tema */
.theme-switch-wrapper {
    position: fixed;
    right: 20px;
    top: 2%; 
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 5px;              
}

/* Botão Switch */
.theme-switch { position: relative; display: inline-block; width: 60px; height: 34px; }
.theme-switch input { opacity: 0; width: 0; height: 0; }
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; transition: .4s; border-radius: 34px; }
.slider:before { position: absolute; content: ""; height: 26px; width: 26px; left: 4px; bottom: 4px; background-color: white; transition: .4s; border-radius: 50%; }

/* Quando ativo (Escuro) */
input:checked + .slider { background-color: #2196F3; }
input:checked + .slider:before { transform: translateX(26px); }

/* Texto deo Botão */
#theme-text {
    font-size: 0.7rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
